.shareBox .share {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch; }
  .shareBox .share > div {
    margin: 5px; }

#navbarLogo {
  height: 70px; }
  @media screen and (max-width: 992px) {
    #navbarLogo {
      height: 45px; } }

li > ul {
  display: inline-block;
  left: -100px !important; }

.navbar-default {
  background-color: #ffffff;
  border-color: #e9e4ea; }
  .navbar-default .navbar-brand {
    color: #0a67de; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #0a4da3; }
  .navbar-default .navbar-text {
    color: #0a67de; }
  .navbar-default .navbar-nav > li > a {
    color: #0a67de; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #0a4da3; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  .navbar-default .navbar-toggle {
    border-color: #e9e4ea; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #e9e4ea; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #0a67de; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #0a67de; }
  .navbar-default .navbar-link {
    color: #0a67de; }
    .navbar-default .navbar-link:hover {
      color: #0a4da3; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0a67de; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #0a4da3; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; } }
#navWrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #e9e4ea; }

#screenIndicator {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 250px;
  background-color: white; }
  @media screen and (max-width: 992px) {
    #screenIndicator {
      left: 150px; } }
  @media screen and (max-width: 1200px) {
    #screenIndicator {
      background-color: red; } }
  @media screen and (max-width: 992px) {
    #screenIndicator {
      background-color: orange; } }
  @media screen and (max-width: 768px) {
    #screenIndicator {
      background-color: blue; } }
  @media screen and (max-width: 480px) {
    #screenIndicator {
      background-color: purple; } }

html,
body {
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c; }
  body .navMargin {
    margin-top: 60px; }
  body .rowMargin {
    margin: 50px 0; }
  body .container-fluid {
    padding: 0; }
    body .container-fluid .jumbotron {
      margin: auto;
      margin-bottom: 50px;
      max-width: 75%;
      padding-right: 100x;
      padding-left: 100px;
      max-width: 80%; }
      @media screen and (max-width: 992px) {
        body .container-fluid .jumbotron {
          padding-right: 60px;
          padding-left: 60px;
          max-width: 90%; } }
      @media screen and (max-width: 768px) {
        body .container-fluid .jumbotron {
          padding-right: 30px;
          padding-left: 30px;
          width: 70%;
          margin: 0; } }
      @media screen and (max-width: 480px) {
        body .container-fluid .jumbotron {
          width: 80%;
          padding-right: 0;
          padding-left: 0;
          margin: 0; } }
      body .container-fluid .jumbotron h3 {
        line-height: 40px; }
  @media screen and (max-width: 768px) {
    body .container {
      padding-left: 2px;
      padding-right: 2px; } }
  body .btnColor {
    border: 1px solid #1c1c1c;
    background-color: #0a67de;
    color: white; }
    body .btnColor:hover {
      color: white;
      box-shadow: 2px 2px 8px #1c1c1c; }
  body .additionalPicRight {
    background-color: white;
    border: 1px solid #e9e4ea;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 30%;
    float: right; }
    @media screen and (max-width: 480px) {
      body .additionalPicRight {
        padding: 0; } }
  body .additionalPicLeft {
    background-color: white;
    border: 1px solid #e9e4ea;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 30%;
    float: left; }
    @media screen and (max-width: 480px) {
      body .additionalPicLeft {
        padding: 0; } }
  body .verticalAlign {
    display: flex;
    align-items: center; }

.fixedScenery {
  background: url("../img/jpg/Scenery.jpg") no-repeat;
  background-position: 0px 70px;
  background-size: 100%;
  background-attachment: fixed; }
  @media screen and (max-width: 992px) {
    .fixedScenery {
      background-position: 0px 50px;
      background-position: center center; } }
  @media screen and (max-width: 992px) {
    .fixedScenery {
      background-size: cover; } }

#indexPage #topWindow {
  min-height: 240px; }
#indexPage #bigScreenLogo,
#indexPage #timelineCover {
  width: 100%;
  max-height: 450px;
  margin: inherit auto; }
#indexPage #timelineCover {
  border: 1px solid #e9e4ea; }
#indexPage .container > div {
  margin: 15px auto 15px auto; }
  @media screen and (max-width: 992px) {
    #indexPage .container > div {
      margin: 0 auto 20px auto; } }
#indexPage #introSection #tagline {
  width: 50%;
  height: 75%; }
#indexPage #introSection #paddedBox {
  height: 50px; }
  @media screen and (max-width: 1200px) {
    #indexPage #introSection #paddedBox {
      height: 70px; } }
  @media screen and (max-width: 992px) {
    #indexPage #introSection #paddedBox {
      height: 120px; } }
#indexPage #introSection .whiteContainer {
  text-align: center;
  padding-top: 10px;
  background-color: white; }
  #indexPage #introSection .whiteContainer .headline {
    margin: 10px 0 0 0;
    display: inline; }
    @media screen and (max-width: 768px) {
      #indexPage #introSection .whiteContainer .headline {
        display: block; } }
    @media screen and (max-width: 480px) {
      #indexPage #introSection .whiteContainer .headline {
        font-size: 21px; } }
  #indexPage #introSection .whiteContainer a {
    margin: 10px; }
  #indexPage #introSection .whiteContainer #welcome #welcomeSection {
    margin-top: 50px;
    min-height: 825px;
    background: url("../img/png/aboutPattern.png") no-repeat center center;
    background-size: cover; }
    @media screen and (min-width: 992px) {
      #indexPage #introSection .whiteContainer #welcome #welcomeSection #textBoxContainer {
        display: flex;
        align-items: center; } }
    #indexPage #introSection .whiteContainer #welcome #welcomeSection #headingDiv {
      padding-top: 25px;
      padding-bottom: 40px;
      height: 20%; }
      @media screen and (max-width: 480px) {
        #indexPage #introSection .whiteContainer #welcome #welcomeSection #headingDiv {
          padding-top: 5px;
          padding-bottom: 10px; } }
      #indexPage #introSection .whiteContainer #welcome #welcomeSection #headingDiv h1 {
        text-align: center;
        text-shadow: 3px 3px 5px white;
        font-size: 50px; }
        @media screen and (max-width: 768px) {
          #indexPage #introSection .whiteContainer #welcome #welcomeSection #headingDiv h1 {
            font-size: 40px; } }
        @media screen and (max-width: 480px) {
          #indexPage #introSection .whiteContainer #welcome #welcomeSection #headingDiv h1 {
            font-size: 30px; } }
    #indexPage #introSection .whiteContainer #welcome #welcomeSection #etlLogo {
      width: 80%;
      height: auto; }
    #indexPage #introSection .whiteContainer #welcome #welcomeSection .welcomeTextBox {
      height: 100%;
      padding: 30px; }
      #indexPage #introSection .whiteContainer #welcome #welcomeSection .welcomeTextBox h4 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 25px;
        text-align: justify; }
        @media screen and (max-width: 768px) {
          #indexPage #introSection .whiteContainer #welcome #welcomeSection .welcomeTextBox h4 {
            text-align: center; } }
        @media screen and (max-width: 480px) {
          #indexPage #introSection .whiteContainer #welcome #welcomeSection .welcomeTextBox h4 {
            text-align: justify; } }
      #indexPage #introSection .whiteContainer #welcome #welcomeSection .welcomeTextBox p {
        padding-left: 30px;
        text-align: left; }
        @media screen and (max-width: 768px) {
          #indexPage #introSection .whiteContainer #welcome #welcomeSection .welcomeTextBox p {
            text-align: center; } }
        @media screen and (max-width: 480px) {
          #indexPage #introSection .whiteContainer #welcome #welcomeSection .welcomeTextBox p {
            text-align: justify; } }
#indexPage #introSection #etlSection {
  background: #fff;
  padding-top: 50px; }
  #indexPage #introSection #etlSection .curvedImg {
    border-radius: 25px;
    width: 80%;
    height: auto;
    margin: auto; }
  #indexPage #introSection #etlSection .smallScreenImg {
    display: none; }
  @media screen and (max-width: 992px) {
    #indexPage #introSection #etlSection .bigScreenImg {
      display: none; }
    #indexPage #introSection #etlSection .smallScreenImg {
      display: block;
      margin-bottom: 40px;
      width: 100%; } }
  @media screen and (max-width: 992px) {
    #indexPage #introSection #etlSection h2 {
      display: none; } }
  #indexPage #introSection #etlSection .textBox {
    padding: 0 10px 10px 10px; }
    #indexPage #introSection #etlSection .textBox a {
      color: #0a4da3; }
    #indexPage #introSection #etlSection .textBox h2 {
      text-align: center; }
    #indexPage #introSection #etlSection .textBox h4 {
      text-align: left; }
      @media screen and (max-width: 768px) {
        #indexPage #introSection #etlSection .textBox h4 {
          text-align: justify; } }
  #indexPage #introSection #etlSection .verticalAlignLgOnly {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      #indexPage #introSection #etlSection .verticalAlignLgOnly {
        display: block; } }
#indexPage .jumbotron {
  margin: 100px auto !important; }
  @media screen and (max-width: 768px) {
    #indexPage .jumbotron {
      width: 90%; }
      #indexPage .jumbotron h3 {
        font-size: 20px; } }
    @media screen and (max-width: 768px) and (max-width: 480px) {
      #indexPage .jumbotron h3 {
        font-size: 15px; } }

#indexPage .window h2,
#indexPage .window h3 {
  text-align: center;
  color: white;
  font-weight: 100;
  margin: 30px auto;
  text-shadow: 3px 3px 4px #1c1c1c;
  letter-spacing: 15px; }
#indexPage .window h2 {
  font-size: 140px; }
#indexPage .window h3 {
  font-size: 80px; }
@media screen and (max-width: 1200px) {
  #indexPage .window h2,
  #indexPage .window h3 {
    letter-spacing: 15px; }
  #indexPage .window h2 {
    font-size: 130px; }
  #indexPage .window h3 {
    font-size: 65px; } }
@media screen and (max-width: 992px) {
  #indexPage .window h2,
  #indexPage .window h3 {
    letter-spacing: 11px; }
  #indexPage .window h2 {
    font-size: 115px; }
  #indexPage .window h3 {
    font-size: 50px; } }
@media screen and (max-width: 768px) {
  #indexPage .window h2,
  #indexPage .window h3 {
    letter-spacing: 9px; }
  #indexPage .window h2 {
    font-size: 100px; }
  #indexPage .window h3 {
    font-size: 35px; } }
@media screen and (max-width: 480px) {
  #indexPage .window h2,
  #indexPage .window h3 {
    letter-spacing: 2px; }
  #indexPage .window h2 {
    font-size: 60px; }
  #indexPage .window h3 {
    font-size: 25px; } }
#indexPage #etlWindow {
  height: 70px; }
#indexPage .imgWrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px; }

.aboutPages {
  background: url("../img/jpg/aboutPattern.jpg") no-repeat;
  background-size: cover; }
  .aboutPages .container {
    float: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 50px;
    margin: 90px auto;
    background-color: white;
    box-shadow: 5px 5px 8px #1c1c1c;
    width: 75%; }
    @media screen and (max-width: 480px) {
      .aboutPages .container {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        padding: 10px;
        margin: 50px auto 0 auto; } }
    @media screen and (max-width: 768px) {
      .aboutPages .container {
        width: 90vw; } }
    @media screen and (max-width: 480px) {
      .aboutPages .container {
        width: 100%; } }
    .aboutPages .container div {
      text-align: center; }
    .aboutPages .container #badges img {
      width: 100%;
      height: auto; }
    .aboutPages .container h1,
    .aboutPages .container h3,
    .aboutPages .container a {
      color: #0a4da3;
      text-align: left; }
    .aboutPages .container #kensName {
      text-align: center;
      color: #333; }
      @media screen and (max-width: 480px) {
        .aboutPages .container #kensName {
          font-size: 1.5em; } }
    .aboutPages .container h2 {
      color: #0a4da3;
      text-align: left; }
    .aboutPages .container ul li {
      text-align: left; }
    .aboutPages .container p {
      text-indent: 30px;
      text-align: justify; }
    .aboutPages .container #profilePic {
      width: 80%;
      margin: 30px auto; }
      @media screen and (max-width: 1200px) {
        .aboutPages .container #profilePic {
          width: 100%; } }
      @media screen and (max-width: 992px) {
        .aboutPages .container #profilePic {
          width: 60%; } }

#testimonialPage .container {
  margin: 80px; }
  #testimonialPage .container #myCarousel {
    width: 100%;
    margin: 0 auto; }
    #testimonialPage .container #myCarousel .carousel-inner .item div {
      padding-top: 30px;
      height: 85vh; }
    #testimonialPage .container #myCarousel .carousel-inner .carousel-caption {
      width: 50%;
      position: relative;
      left: auto;
      right: auto;
      height: 200px; }

#contactUsPage label {
  display: block;
  text-align: left; }

#servicesPage p {
  text-indent: 0; }
#servicesPage .row .dropcaps {
  font-size: 1.1em;
  font-weight: bold;
  float: left;
  padding: 0; }
#servicesPage .row .col-xs-3 {
  margin: 10px 0;
  text-align: right; }
  @media screen and (max-width: 768px) {
    #servicesPage .row .col-xs-3 {
      padding: 0; } }
#servicesPage .row img {
  width: 80px; }
  @media screen and (max-width: 480px) {
    #servicesPage .row img {
      padding: 0;
      width: 60px; } }

#blogPage .container {
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 75%; }
  @media screen and (max-width: 992px) {
    #blogPage .container {
      width: 90vw; } }
  @media screen and (max-width: 480px) {
    #blogPage .container {
      width: 100%; } }
  #blogPage .container #contentContainer #content .headImg {
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 1px solid #9c9a9a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: auto; }
  #blogPage .container #contentContainer #content h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  #blogPage .container #contentContainer #content img {
    max-width: 20%;
    max-height: 200px; }
    #blogPage .container #contentContainer #content img:nth-child(even) {
      float: right; }
    #blogPage .container #contentContainer #content img:nth-child(odd) {
      float: left; }
  #blogPage .container #menu {
    height: 100%;
    border-left: 1px dashed #8f8d8d; }
    @media screen and (max-width: 768px) {
      #blogPage .container #menu {
        display: none; } }

#pageFooter {
  color: #e9e4ea;
  background-color: #1c1c1c;
  text-align: center; }
  #pageFooter a {
    color: #e9e4ea; }
    #pageFooter a:hover {
      color: #0a4da3;
      text-decoration: none; }
  #pageFooter .col-sm-6 {
    text-align: center;
    padding: 10px; }
  #pageFooter #reps {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #pageFooter #reps #repsBadge {
      padding: 20px;
      width: 50%; }
      #pageFooter #reps #repsBadge img {
        width: 80%; }
        @media screen and (max-width: 992px) {
          #pageFooter #reps #repsBadge img {
            width: 80%; } }
        @media screen and (max-width: 768px) {
          #pageFooter #reps #repsBadge img {
            width: 70%; } }
  #pageFooter #designCredit {
    text-align: right;
    line-height: 100px; }
    #pageFooter #designCredit p,
    #pageFooter #designCredit a {
      font-size: inherit; }

/*# sourceMappingURL=style.css.map */
