//Variables
$bgDefault: #ffffff;
$bgHighlight: #e9e4ea;
$colDefault: #0a67de;
$colHighlight: #0a4da3;
$footerColor: #cbbcbc;
$footerBG: #1e1e1e;
$dropDown: false;
//Navbar Custom Styling
#navbarLogo {
    height: 70px;
}

//Navigation Bar from Gen
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover,
        &:focus {
            color: $colHighlight;
        }
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover,
                &:focus {
                    color: $colHighlight;
                }
            }
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $bgDefault;
                    > li {
                        > a {
                            color: $colDefault;
                            &:hover,
                            &:focus {
                                color: $colHighlight;
                                background-color: $bgHighlight;
                            }
                        }
                        > .divider {
                            background-color: $bgHighlight;
                        }
                    }
                }
            }
        }
        @if $dropDown {
            .open .dropdown-menu > .active {
                > a,
                > a:hover,
                > a:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
        }
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        > .open {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover,
        &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover,
            &:focus {
                color: $colHighlight;
            }
        }
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}

#navWrapper {
    background-color: $bgDefault;
    border-bottom: 1px solid $bgHighlight;
}

//ALL PAGES
html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    .navMargin {
        margin-top: 60px;
    }
    .rowMargin {
        margin: 50px 0;
    }
    .container-fluid {
        padding: 0;
    }
    .curvedImg {
        border-radius: 25px;
    }
    .btnColor,
    &:visited {
        border: 1px solid $footerBG;
        background-color: $colDefault;
        color: white;
        &:hover {
            background-color: $bgHighlight;
            color: $colHighlight;
            border: 1px solid $footerBG;
            box-shadow: 2px 2px 8px $footerBG;
        }
    }
    footer {
        color: $footerColor;
        background-color: $footerBG;
        a {
            color: $footerColor;
            &:hover {
                color: $colHighlight;
                text-decoration: none;
            }
        }
        text-align: center;
        #shareBoxContainer {
            margin-bottom: 10px;
        }
        #designCredit {
            text-align: right;
            line-height: 100px;
        }
    }
}

//INDEX 
.fixedScenery {
    background: url("../img/Scenery.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#indexPage {
    #introSection {
        #tagline {
            width: 50%;
            height: 75%;
            text-align: center;
        }
        .whiteContainer {
            padding-top: 10px;
            background-color: white;
            text-align: center;
            a {
                margin: 10px;
            }
            #welcome {
                padding-top: 60px;
            }
            #welcomeSection {
                h1 {
                    margin-bottom: 30px;
                }
                p {
                    text-align: center;
                    max-width: 70vw;
                    margin: auto;
                    line-height: 30px;
                    font-size: 1.2em;
                    margin-bottom: 15px;
                }
            }
            p {
                text-align: justify;
            }
            .center {
                text-align: center;
            }
            .textBox {
                padding: 0 10px 10px 10px;
            }
        }
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: justify;
        }
                .imgWrapper {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 10px;
                }
        img {
            width: 100%;
            margin: auto;
            vertical-align: middle;
        }
        .jumbotron {
            margin: auto;
            margin-bottom: 50px;
            max-width: 75vw;
            padding-right: 130px;
            padding-left: 130px;
            h3 {
                line-height: 40px;
            }
        }
        .sidebarSection {
            margin: 20px 0;
        }
    }
}

//CONTACTFORM
#contactForm {
    h1 {
        color: $colDefault;
    }
    .contactForm {
        border: 1px solid $colDefault;
        margin-top: 50px;
        border-radius: 15px;
        padding: 50px;
    }
    .navMargin {
        margin-bottom: 30px;
    }
}