/* line 3, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
.shareBox {
  text-align: center;
  padding: 7px 15px;
  border: 1px solid #7a7a7a;
  border-radius: 20px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    /* line 3, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
    .shareBox {
      padding: 3px 7px; } }
  @media screen and (max-width: 480px) {
    /* line 3, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
    .shareBox {
      border: none;
      overflow: visible; } }
  /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
  .shareBox .shareIcon {
    border-right: 1px solid #7a7a7a; }
    /* line 19, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
    .shareBox .shareIcon:last-child {
      border-right: none; }
    @media screen and (max-width: 480px) {
      /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox .shareIcon {
        border: none; } }
    @media screen and (max-width: 992px) {
      /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox .shareIcon {
        padding-left: 5px;
        padding-right: 5px; } }
    @media screen and (max-width: 480px) {
      /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox .shareIcon {
        padding: 0; } }
  /* line 33, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
  .shareBox img {
    width: 100%;
    border: 0;
    box-shadow: 0; }
    @media screen and (max-width: 768px) {
      /* line 33, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox img {
        width: 75%;
        padding: 0 1px; } }
    @media screen and (max-width: 480px) {
      /* line 33, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox img {
        width: 80%;
        padding: 1px; } }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
#navbarLogo {
  height: 70px; }
  @media screen and (max-width: 992px) {
    /* line 2, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    #navbarLogo {
      height: 45px; } }

/* line 9, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
.navbar-default {
  background-color: #ffffff;
  border-color: #e9e4ea; }
  /* line 12, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-brand {
    color: #0a67de; }
    /* line 15, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
      color: #0a4da3; }
  /* line 19, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-text {
    color: #0a67de; }
  /* line 24, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav > li > a {
    color: #0a67de; }
    /* line 27, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #0a4da3; }
  /* line 63, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  /* line 71, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  /* line 77, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-toggle {
    border-color: #e9e4ea; }
    /* line 80, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
      background-color: #e9e4ea; }
    /* line 83, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #0a67de; }
  /* line 88, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #0a67de; }
  /* line 91, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-link {
    color: #0a67de; }
    /* line 93, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-link:hover {
      color: #0a4da3; }

@media (max-width: 767px) {
  /* line 101, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0a67de; }
    /* line 104, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #0a4da3; }
  /* line 111, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; } }

/* line 119, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
#navWrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #e9e4ea; }

/* line 125, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
#screenIndicator {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 250px;
  background-color: white; }
  @media screen and (max-width: 992px) {
    /* line 125, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    #screenIndicator {
      left: 150px; } }
  @media screen and (max-width: 1200px) {
    /* line 125, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    #screenIndicator {
      background-color: red; } }
  @media screen and (max-width: 992px) {
    /* line 125, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    #screenIndicator {
      background-color: orange; } }
  @media screen and (max-width: 768px) {
    /* line 125, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    #screenIndicator {
      background-color: blue; } }
  @media screen and (max-width: 480px) {
    /* line 125, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    #screenIndicator {
      background-color: purple; } }

/* line 3, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
html,
body {
  overflow-x: hidden; }

/* line 7, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
body {
  font-family: 'Open Sans', sans-serif; }
  /* line 9, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .navMargin {
    margin-top: 60px; }
    @media screen and (max-width: 992px) {
      /* line 9, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
      body .navMargin {
        margin-top: 45px; } }
  /* line 15, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .rowMargin {
    margin: 50px 0; }
  /* line 18, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .container-fluid {
    padding: 0; }
    /* line 20, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .container-fluid .jumbotron .custom {
      margin: auto;
      margin-bottom: 50px;
      max-width: 75%;
      padding-right: 130px;
      padding-left: 130px; }
      @media screen and (max-width: 992px) {
        /* line 20, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
        body .container-fluid .jumbotron .custom {
          padding-right: 60px;
          padding-left: 60px;
          max-width: 90%; } }
      @media screen and (max-width: 768px) {
        /* line 20, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
        body .container-fluid .jumbotron .custom {
          padding-right: 30px;
          padding-left: 30px;
          width: 70%;
          margin: 0; } }
      @media screen and (max-width: 480px) {
        /* line 20, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
        body .container-fluid .jumbotron .custom {
          width: 80%;
          padding-right: 0;
          padding-left: 0;
          margin: 0; } }
      /* line 43, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
      body .container-fluid .jumbotron .custom h3 {
        line-height: 40px; }
  @media screen and (max-width: 768px) {
    /* line 48, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .container {
      padding-left: 2px;
      padding-right: 2px; } }
  /* line 54, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .curvedImg {
    border-radius: 25px;
    padding: 15px;
    border: 1px solid #e9e4ea;
    width: 100%;
    height: auto; }
  /* line 61, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .btnColor {
    border: 1px solid #1e1e1e;
    background-color: #0a67de;
    color: white; }
    /* line 5, C:/xampp/htdocs/elevate/sass/modules/_button.scss */
    body .btnColor:hover {
      color: white;
      box-shadow: 2px 2px 8px #1c1c1c; }
  /* line 64, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .additionalPic, body .additionalPicRight, body .additionalPicLeft {
    background-color: white;
    border: 1px solid #e9e4ea;
    margin: 0 15px;
    padding: 5px;
    width: 30%;
    border-radius: 8px; }
  /* line 72, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .additionalPicRight {
    float: right; }
  /* line 76, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .additionalPicLeft {
    float: left; }
  /* line 80, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .verticalAlign, body #indexPage #introSection .whiteContainer .verticalAlign1, #indexPage #introSection .whiteContainer body .verticalAlign1 {
    display: flex;
    align-items: center; }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#smallScreenLogo {
  display: none;
  width: 100%; }

/* line 7, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
.fixedScenery {
  background: url("../img/jpg/Scenery.jpg") no-repeat;
  background-position: 0px 70px;
  background-size: 100%;
  background-attachment: fixed; }
  @media screen and (max-width: 992px) {
    /* line 7, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    .fixedScenery {
      background-position: 0px 50px; } }

/* line 19, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #bigScreenLogo,
#indexPage #timelineCover {
  width: 100%;
  max-height: 450px;
  margin: inherit auto; }

/* line 24, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #timelineCover {
  border: 1px solid #e9e4ea; }

/* line 28, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage .container > div {
  margin: 15px auto 15px auto; }
  @media screen and (max-width: 992px) {
    /* line 28, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage .container > div {
      margin: 0 auto 20px auto; } }

/* line 36, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection #tagline {
  width: 50%;
  height: 75%; }

/* line 40, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection .whiteContainer {
  text-align: center;
  padding-top: 10px;
  background-color: white; }
  /* line 42, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer h1 {
    margin: 10px 0 0 0; }
    @media screen and (max-width: 768px) {
      /* line 42, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
      #indexPage #introSection .whiteContainer h1 {
        font-size: 1.75em; } }
    @media screen and (max-width: 480px) {
      /* line 42, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
      #indexPage #introSection .whiteContainer h1 {
        font-size: 1.4em; } }
  /* line 51, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer #paddedBox {
    height: 0; }
    @media screen and (max-width: 992px) {
      /* line 51, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
      #indexPage #introSection .whiteContainer #paddedBox {
        height: 15vh; } }
    @media screen and (max-width: 768px) {
      /* line 51, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
      #indexPage #introSection .whiteContainer #paddedBox {
        height: 35vh; } }
    @media screen and (max-width: 480px) {
      /* line 51, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
      #indexPage #introSection .whiteContainer #paddedBox {
        height: 50vh; } }
  /* line 65, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer a {
    margin: 10px; }
  /* line 68, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer #welcome {
    padding-top: 50px; }
    /* line 70, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer #welcome img {
      width: 100%; }
  /* line 74, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer #welcomeSection {
    min-height: 90vh; }
    /* line 76, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer #welcomeSection .welcomeSectionImg {
      background-color: white;
      border: 1px solid #e9e4ea;
      margin: 0 5px 0 30px;
      padding: 5px;
      width: 30%;
      border-radius: 8px;
      float: right; }
      @media screen and (max-width: 768px) {
        /* line 76, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
        #indexPage #introSection .whiteContainer #welcomeSection .welcomeSectionImg {
          padding: 0; } }
      @media screen and (max-width: 480px) {
        /* line 76, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
        #indexPage #introSection .whiteContainer #welcomeSection .welcomeSectionImg {
          display: none; } }
    /* line 91, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer #welcomeSection #bullets {
      margin-left: 150px;
      text-align: left; }
      @media screen and (max-width: 768px) {
        /* line 91, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
        #indexPage #introSection .whiteContainer #welcomeSection #bullets {
          margin-left: 50px; } }
      /* line 97, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
      #indexPage #introSection .whiteContainer #welcomeSection #bullets p {
        line-height: 15px; }
    /* line 101, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer #welcomeSection strong {
      font-size: 1.2em; }
    /* line 104, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer #welcomeSection h1 {
      margin-top: 30px;
      margin-bottom: 10px;
      color: #0a4da3; }
    /* line 109, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer #welcomeSection p {
      max-width: 70vw;
      margin: auto;
      margin-bottom: 15px; }
      @media screen and (max-width: 768px) {
        /* line 109, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
        #indexPage #introSection .whiteContainer #welcomeSection p {
          max-width: 90vw; } }
  /* line 118, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer .smallScreenImg {
    display: none; }
  @media screen and (max-width: 992px) {
    /* line 122, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer .bigScreenImg {
      display: none; }
    /* line 125, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer .smallScreenImg {
      display: block;
      margin-bottom: 40px; } }
  /* line 130, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer .textBox {
    padding: 0 10px 10px 10px; }
    /* line 132, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer .textBox a {
      color: #0a4da3; }
  @media screen and (max-width: 768px) {
    /* line 136, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer .verticalAlign1 {
      display: block; } }

@media screen and (max-width: 992px) {
  /* line 143, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection h2 {
    display: none; } }

/* line 148, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection .imgWrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px; }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
.aboutPages {
  background: url("../img/jpg/aboutPattern.jpg") no-repeat;
  background-size: cover; }
  /* line 5, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
  .aboutPages .container {
    float: none;
    border-radius: 25px;
    padding: 50px;
    margin: 90px auto;
    width: 75%;
    background-color: white;
    box-shadow: 5px 5px 8px #1e1e1e; }
    @media screen and (max-width: 480px) {
      /* line 5, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
      .aboutPages .container {
        border-radius: 0;
        padding: 10px;
        margin: 50px auto 0 auto; } }
    @media screen and (max-width: 768px) {
      /* line 5, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
      .aboutPages .container {
        width: 90vw; } }
    @media screen and (max-width: 480px) {
      /* line 5, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
      .aboutPages .container {
        width: 100%; } }
    /* line 7, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container div {
      text-align: center; }
    /* line 11, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container #badges img {
      width: 100%;
      height: auto; }
    /* line 16, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container h1 {
      color: #0a4da3;
      text-align: left; }
    /* line 21, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container #kensName {
      text-align: center;
      color: #333; }
      @media screen and (max-width: 480px) {
        /* line 21, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
        .aboutPages .container #kensName {
          font-size: 1.5em; } }
    /* line 28, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container h2 {
      color: #0a4da3;
      text-align: left; }
    /* line 33, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container ul li {
      text-align: left; }
    /* line 37, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container p {
      text-indent: 50px;
      text-align: justify; }
    /* line 41, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container #profilePic {
      width: 80%;
      margin: 30px auto; }
      @media screen and (max-width: 1200px) {
        /* line 41, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
        .aboutPages .container #profilePic {
          width: 100%; } }
      @media screen and (max-width: 992px) {
        /* line 41, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
        .aboutPages .container #profilePic {
          width: 60%; } }

/* line 3, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
#testimonialPage .container {
  margin: 80px; }
  /* line 5, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
  #testimonialPage .container #myCarousel {
    width: 100%;
    margin: 0 auto; }
    /* line 9, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
    #testimonialPage .container #myCarousel .carousel-inner .item div {
      padding-top: 30px;
      height: 85vh; }
    /* line 13, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
    #testimonialPage .container #myCarousel .carousel-inner .carousel-caption {
      width: 50%;
      position: relative;
      left: auto;
      right: auto;
      height: 200px; }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_contactForm.scss */
#contactUsPage label {
  display: block;
  text-align: left; }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_services.scss */
#servicesPage p {
  text-indent: 0; }

/* line 6, C:/xampp/htdocs/elevate/sass/pages/_services.scss */
#servicesPage .row .col-xs-3 {
  margin: 10px 0;
  text-align: right; }
  @media screen and (max-width: 768px) {
    /* line 6, C:/xampp/htdocs/elevate/sass/pages/_services.scss */
    #servicesPage .row .col-xs-3 {
      padding: 0; } }

/* line 13, C:/xampp/htdocs/elevate/sass/pages/_services.scss */
#servicesPage .row img {
  width: 80px; }
  @media screen and (max-width: 480px) {
    /* line 13, C:/xampp/htdocs/elevate/sass/pages/_services.scss */
    #servicesPage .row img {
      padding: 0;
      width: 60px; } }

/* line 1, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
#pageFooter {
  color: #e9e4ea;
  background-color: #1e1e1e;
  text-align: center; }
  /* line 7, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
  #pageFooter a {
    color: #e9e4ea; }
    /* line 9, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
    #pageFooter a:hover {
      color: #0a4da3;
      text-decoration: none; }
  /* line 14, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
  #pageFooter #repsBadge {
    width: 50%;
    margin: auto; }
    /* line 17, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
    #pageFooter #repsBadge img {
      width: 50%; }
      @media screen and (max-width: 992px) {
        /* line 17, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
        #pageFooter #repsBadge img {
          width: 80%; } }
      @media screen and (max-width: 768px) {
        /* line 17, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
        #pageFooter #repsBadge img {
          width: 50%; } }
  /* line 28, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
  #pageFooter #shareBoxContainer {
    padding: 20px;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      /* line 28, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
      #pageFooter #shareBoxContainer {
        padding: 100px; } }
    @media screen and (max-width: 480px) {
      /* line 28, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
      #pageFooter #shareBoxContainer {
        padding: 10px; } }
  /* line 38, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
  #pageFooter #designCredit {
    text-align: right;
    line-height: 100px; }
    /* line 42, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
    #pageFooter #designCredit p,
    #pageFooter #designCredit a {
      font-size: inherit; }

/*# sourceMappingURL=style.css.map */