/* line 3, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
.shareBox {
  text-align: center;
  padding: 7px 15px;
  border: 1px solid #7a7a7a;
  border-radius: 20px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    /* line 3, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
    .shareBox {
      padding: 3px 7px; } }
  @media screen and (max-width: 480px) {
    /* line 3, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
    .shareBox {
      border: none;
      overflow: visible; } }
  /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
  .shareBox .shareIcon {
    border-right: 1px solid #7a7a7a; }
    /* line 19, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
    .shareBox .shareIcon:last-child {
      border-right: none; }
    @media screen and (max-width: 480px) {
      /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox .shareIcon {
        border: none; } }
    @media screen and (max-width: 992px) {
      /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox .shareIcon {
        padding-left: 5px;
        padding-right: 5px; } }
    @media screen and (max-width: 480px) {
      /* line 17, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox .shareIcon {
        padding: 0; } }
  /* line 33, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
  .shareBox img {
    width: 100%;
    border: 0;
    box-shadow: 0; }
    @media screen and (max-width: 768px) {
      /* line 33, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox img {
        width: 75%;
        padding: 0 1px; } }
    @media screen and (max-width: 480px) {
      /* line 33, C:/xampp/htdocs/elevate/sass/modules/_shareStyle.scss */
      .shareBox img {
        width: 80%;
        padding: 1px; } }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
#navbarLogo {
  height: 70px; }
  @media screen and (max-width: 992px) {
    /* line 2, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    #navbarLogo {
      height: 45px; } }

/* line 9, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
.navbar-default {
  background-color: #ffffff;
  border-color: #e9e4ea; }
  /* line 12, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-brand {
    color: #0a67de; }
    /* line 15, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
      color: #0a4da3; }
  /* line 19, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-text {
    color: #0a67de; }
  /* line 24, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav > li > a {
    color: #0a67de; }
    /* line 27, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #0a4da3; }
  /* line 63, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  /* line 71, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  /* line 77, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-toggle {
    border-color: #e9e4ea; }
    /* line 80, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
      background-color: #e9e4ea; }
    /* line 83, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #0a67de; }
  /* line 88, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #0a67de; }
  /* line 91, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-link {
    color: #0a67de; }
    /* line 93, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-link:hover {
      color: #0a4da3; }

@media (max-width: 767px) {
  /* line 101, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0a67de; }
    /* line 104, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #0a4da3; }
  /* line 111, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; } }

/* line 119, C:/xampp/htdocs/elevate/sass/pages/_header.scss */
#navWrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #e9e4ea; }

/* line 3, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
html,
body {
  overflow-x: hidden; }

/* line 7, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
body {
  font-family: 'Open Sans', sans-serif; }
  /* line 13, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body h1,
  body h2,
  body h3,
  body h4,
  body p {
    font-size: 1.8em; }
    @media screen and (max-width: 992px) {
      /* line 13, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
      body h1,
      body h2,
      body h3,
      body h4,
      body p {
        font-size: 1.4em; } }
    @media screen and (max-width: 768px) {
      /* line 13, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
      body h1,
      body h2,
      body h3,
      body h4,
      body p {
        font-size: 1.1em; } }
  /* line 22, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .navMargin {
    margin-top: 60px; }
    @media screen and (max-width: 992px) {
      /* line 22, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
      body .navMargin {
        margin-top: 45px; } }
  /* line 28, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .rowMargin {
    margin: 50px 0; }
  /* line 31, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .container-fluid {
    padding: 0; }
    /* line 33, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .container-fluid .jumbotron .custom {
      margin: auto;
      margin-bottom: 50px;
      max-width: 75%;
      padding-right: 130px;
      padding-left: 130px; }
      @media screen and (max-width: 992px) {
        /* line 33, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
        body .container-fluid .jumbotron .custom {
          padding-right: 60px;
          padding-left: 60px;
          max-width: 90%; } }
      @media screen and (max-width: 768px) {
        /* line 33, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
        body .container-fluid .jumbotron .custom {
          padding-right: 30px;
          padding-left: 30px;
          width: 70%;
          margin: 0; } }
      @media screen and (max-width: 480px) {
        /* line 33, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
        body .container-fluid .jumbotron .custom {
          width: 80%;
          padding-right: 0;
          padding-left: 0;
          margin: 0; } }
      /* line 56, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
      body .container-fluid .jumbotron .custom h3 {
        line-height: 40px; }
  @media screen and (max-width: 768px) {
    /* line 61, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .container {
      padding-left: 2px;
      padding-right: 2px; } }
  /* line 67, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .curvedImg {
    border-radius: 25px; }
  /* line 71, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .btnColor,
  body:visited {
    border: 1px solid #1e1e1e;
    background-color: #0a67de;
    color: white; }
    /* line 75, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .btnColor:hover,
    body:visited:hover {
      background-color: #e9e4ea;
      color: #0a4da3;
      border: 1px solid #1e1e1e;
      box-shadow: 2px 2px 8px #1e1e1e; }
  /* line 82, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
  body .pageFooter {
    color: #cbbcbc;
    background-color: #1e1e1e;
    text-align: center; }
    /* line 85, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .pageFooter a {
      color: #cbbcbc; }
      /* line 87, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
      body .pageFooter a:hover {
        color: #0a4da3;
        text-decoration: none; }
    /* line 93, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .pageFooter #shareBoxContainer {
      margin-bottom: 10px; }
    /* line 96, C:/xampp/htdocs/elevate/sass/pages/_base.scss */
    body .pageFooter #designCredit {
      text-align: right;
      line-height: 100px; }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#smallScreenLogo {
  display: none; }

/* line 6, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
.fixedScenery {
  background: url("../img/jpg/Scenery.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; }

@media screen and (max-width: 992px) {
  /* line 13, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #bigScreenLogo {
    display: none; }
  /* line 16, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  .fixedScenery {
    background: none; }
  /* line 19, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #smallScreenLogo {
    display: block; } }

/* line 26, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection #tagline {
  width: 50%;
  height: 75%;
  text-align: center; }

/* line 31, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection .whiteContainer {
  padding-top: 10px;
  background-color: white;
  text-align: center; }
  /* line 35, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer a {
    margin: 10px; }
  /* line 38, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer #welcome {
    padding-top: 60px; }
  /* line 42, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer #welcomeSection h1 {
    margin-bottom: 30px;
    color: #0a4da3; }
  /* line 46, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer #welcomeSection p {
    text-align: center;
    max-width: 70vw;
    margin: auto;
    line-height: 30px;
    margin-bottom: 15px; }
    @media screen and (max-width: 768px) {
      /* line 46, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
      #indexPage #introSection .whiteContainer #welcomeSection p {
        max-width: 90vw; } }
  /* line 57, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer .smallScreenImg {
    display: none; }
  @media screen and (max-width: 992px) {
    /* line 61, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer .bigScreenImg {
      display: none; }
    /* line 64, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer .smallScreenImg {
      display: block;
      margin-bottom: 40px; } }
  /* line 69, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer p {
    text-align: justify; }
  /* line 72, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer .center {
    text-align: center; }
  /* line 75, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
  #indexPage #introSection .whiteContainer .textBox {
    padding: 0 10px 10px 10px; }
    /* line 77, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection .whiteContainer .textBox a {
      color: #0a4da3; }

/* line 82, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection h1 {
  text-align: center; }

/* line 85, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection h2 {
  text-align: center; }
  @media screen and (max-width: 992px) {
    /* line 85, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
    #indexPage #introSection h2 {
      display: none; } }

/* line 91, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection p {
  text-align: justify; }

/* line 94, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection .imgWrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px; }

/* line 102, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection img {
  width: 100%;
  margin: auto;
  vertical-align: middle; }

/* line 107, C:/xampp/htdocs/elevate/sass/pages/_index.scss */
#indexPage #introSection .sidebarSection {
  margin: 20px 0; }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
.aboutPages {
  background: url("../img/png/aboutPattern.png") repeat center center; }
  /* line 4, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
  .aboutPages .container {
    border-radius: 25px;
    padding: 50px;
    position: relative;
    margin: 90px auto;
    width: 75%;
    background-color: white;
    box-shadow: 5px 5px 8px #1e1e1e; }
    /* line 12, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container h2 {
      color: #0a4da3; }
    /* line 15, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container p {
      text-indent: 50px; }
    /* line 18, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
    .aboutPages .container .profilePic {
      height: 350px;
      float: right;
      margin: 10px; }
      /* line 22, C:/xampp/htdocs/elevate/sass/pages/_aboutPages.scss */
      .aboutPages .container .profilePic img {
        height: 100%;
        width: auto; }

/* line 2, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
#testimonialPage {
  background: url("../img/aboutPattern.png") repeat center center; }
  /* line 4, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
  #testimonialPage .container {
    margin: 80px; }
    /* line 6, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
    #testimonialPage .container #myCarousel {
      width: 100%;
      margin: 0 auto; }
      /* line 10, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
      #testimonialPage .container #myCarousel .carousel-inner .item div {
        padding-top: 30px;
        height: 85vh; }
      /* line 14, C:/xampp/htdocs/elevate/sass/pages/_testimonial.scss */
      #testimonialPage .container #myCarousel .carousel-inner .carousel-caption {
        width: 50%;
        position: relative;
        left: auto;
        right: auto;
        height: 200px; }

/* line 3, C:/xampp/htdocs/elevate/sass/pages/_contactForm.scss */
#contactForm h1 {
  color: #0a4da3; }

/* line 6, C:/xampp/htdocs/elevate/sass/pages/_contactForm.scss */
#contactForm .contactForm {
  border: 1px solid #0a4da3;
  margin-top: 50px;
  border-radius: 15px;
  padding: 50px; }

/* line 12, C:/xampp/htdocs/elevate/sass/pages/_contactForm.scss */
#contactForm .navMargin {
  margin-bottom: 30px; }

/* line 1, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
.pageFooter {
  color: #cbbcbc;
  background-color: #1e1e1e;
  text-align: center; }
  /* line 4, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
  .pageFooter a {
    color: #cbbcbc; }
    /* line 6, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
    .pageFooter a:hover {
      color: #0a4da3;
      text-decoration: none; }
  /* line 12, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
  .pageFooter #shareBoxContainer {
    margin-bottom: 10px; }
  /* line 15, C:/xampp/htdocs/elevate/sass/pages/_footer.scss */
  .pageFooter #designCredit {
    text-align: right;
    line-height: 100px; }

/*# sourceMappingURL=style.css.map */