//ABOUTPAGES
.aboutPages {
    background: url("../img/jpg/aboutPattern.jpg") no-repeat;
    background-size: cover;
    .container {
        @include standardContainer;
        div {
            text-align: center;
        }
        #badges {
            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            color: $colHighlight;
//            font-size: 1.8em;
            text-align: left;
        }
        #kensName {
            text-align: center;
            color: #333;
            @include xs {
                font-size: 1.5em;
            }
        }
        h2 {
            color: $colHighlight;
            text-align: left;
        }
        ul {
            li {
                text-align: left;
            }
        }
        p {
            text-indent: 50px;
            text-align: justify;
        }
        #profilePic {
            width: 80%;
            margin: 30px auto;
            @include lg {
                width: 100%;
            }
            @include md {
                width: 60%;
            }
        }
    }
}