#blogPage {
    .container {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    #menu {
        height: 100%;
        border-left: 1px dashed rgb( 143, 141, 141);
    }
}