//CONTACTFORM
#contactForm {
    h1 {
        color: $colHighlight;
    }
    .contactForm {
        border: 1px solid $colHighlight;
        margin-top: 50px;
        border-radius: 15px;
        padding: 50px;
    }
    .navMargin {
        margin-bottom: 30px;
    }
}