//CONTACTFORM
#contactForm {
    background: url("../img/png/aboutPattern.png") repeat center center;
    h1 {
        color: $colHighlight;
    }
    .formContainer {
        @include standardContainer;
        padding: 50px;
        margin-top: 50px;
    }
    .navMargin {
        margin-bottom: 30px;
    }
}