//CONTACTFORM
#contactForm {
    h1 {
        color: $colHighlight;
    }
    .formContainer {
        @include standardContainer;
        padding: 50px;
        margin-top: 50px;
        form-group {
            text-align: left;
        }
    }
    .navMargin {
        margin-bottom: 30px;
    }
}