#pageFooter {
    color: $bgHighlight;
    background-color: $darkGrey;
    .row {
        text-align: left;
        padding: 0 100px;
        @include md {
            padding: 0 30px;
        }
        margin-bottom: 0;
        margin-top: 0;
        .col-sm-12 {
            margin-top: 30px;
        }
        #reps {
            text-align: right;
            height: 100%;
            @include verticalAlign;
            flex-direction: row-reverse;
            img {
                width: 80%;
                max-height: 130px;
                max-width: 130px;
                @include md {
                    width: 80%;
                }
                @include sm {
                    width: 70%;
                }
            }
        }
        .shareLogos {
            margin: 2px;
        }
    }
    a {
        color: $bgHighlight;
        &:hover {
            color: $colHighlight;
            text-decoration: none;
        }
    }
    .col-sm-6 {
        text-align: center;
        padding: 10px;
    }
    text-align: center;
}