#pageFooter {
    p,
    a {}
    color: $bgHighlight;
    background-color: $darkGrey;
    a {
        color: $bgHighlight;
        &:hover {
            color: $colHighlight;
            text-decoration: none;
        }
    }
    .col-sm-6 {
        text-align: center;
        padding: 10px;
    }
    #reps {
        height: 100%;
        @include verticalAlign;
        justify-content: center;
        #repsBadge {
            padding: 20px;
            width: 50%;
            img {
                width: 80%;
                @include md {
                    width: 80%;
                }
                @include sm {
                    width: 70%;
                }
            }
        }
    }
    text-align: center;
    #designCredit {
        text-align: right;
        line-height: 100px;
        p,
        a {
            font-size: inherit;
        }
    }
}