#smallScreenLogo {
    display: none;
    width: 100%;
}

.fixedScenery {
    background: url("../img/jpg/Scenery.jpg") no-repeat;
    background-position: 0px 70px;
    @include md {
        background-position: 0px 50px;
    }
    background-size: 100%;
    background-attachment: fixed;
}

#indexPage {
    #bigScreenLogo,
    #timelineCover {
        width: 100%;
        max-height: 450px;
        margin: inherit auto;
    }
    #timelineCover {
        border: 1px solid $bgHighlight;
    }
    .container {
        > div {
            margin: 15px auto 15px auto;
            @include md {
                margin: 0 auto 20px auto;
            }
        }
    }
    #introSection {
        #tagline {
            width: 50%;
            height: 75%;
        }
        .whiteContainer {
            text-align: center;
            h1 {
                margin: 10px 0 0 0;
                @include sm {
                    font-size: 1.75em;
                }
                @include xs {
                    font-size: 1.4em;
                }
            }
            #paddedBox {
                height: 0;
                @include md {
                    height: 15vh;
                }
                @include sm {
                    height: 35vh;
                }
                @include xs {
                    height: 50vh;
                }
            }
            padding-top: 10px;
            background-color: white;
            a {
                margin: 10px;
            }
            #welcome {
                padding-top: 70px;
                margin-top: 100px;
                #welcomeSection {
                    height: 100vh;
                    background: url("../img/png/aboutPattern.png") no-repeat center center;
                    background-size: cover;
                    #headingDiv {
                        padding-top: 25px;
                        height: 20%;
                        h1 {
                            text-align: center;
                            color: $darkGrey;
                        }
                    }
                    #etlLogo {
                        width: 80%;
                        height: auto;
                    }
                    .welcomeTextBox {
                        height: 100%;
                        padding: 30px;
                        h4 {
                            font-size: 20px;
                            margin-bottom: 10px;
                            font-weight: 500;
                            line-height: 25px;
                            text-align: justify;
                        }
                        p {
                            padding-left: 30px;
                            text-align: left;
                        }
                    }
                }
            }
            #etlSection {
                padding-top: 50px;
                #etlTaglineImg {
                    width: 50%;
                }
                .curvedImg {
                    border-radius: 25px;
                    width: 80%;
                    height: auto;
                    margin: auto;
                }
                .smallScreenImg {
                    display: none;
                }
                @include md {
                    .bigScreenImg {
                        display: none;
                    }
                    .smallScreenImg {
                        display: block;
                        margin-bottom: 40px;
                        width: 100%;
                    }
                }
                h2 {
                    @include md {
                        display: none;
                    }
                }
                .textBox {
                    padding: 0 10px 10px 10px;
                    a {
                        color: $colHighlight;
                    }
                }
                .verticalAlignLgOnly {
                    @include verticalAlign;
                    @include sm {
                        display: block;
                    }
                }
            }
        }
        .imgWrapper {
            padding-top: 50px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px;
        }
    }
}