//INDEX 
#smallScreenLogo {
    display: none;
    width: 100%;
}

.fixedScenery {
    background: url("../img/jpg/Scenery.jpg") no-repeat;
    background-position: 0px 70px;
    @include md {
        background-position: 0px 50px;
    }
    background-size: 100%;
    background-attachment: fixed;
}

//@include md {
//    #bigScreenLogo {
//        display: none;
//    }
//    .fixedScenery {
//        background: none;
//    }
//    #smallScreenLogo {
//        display: block;
//        margin-top: 10px;
//    }
//}

//for widescreen monitors
//@media screen and (min-width: 1500px) {
//    #bigScreenLogo {
//        display: none;
//    }
//    .fixedScenery {
//        background: none;
//    }
//    #smallScreenLogo {
//        display: block;
//        margin-top: 10px;
//    }
//}

#indexPage {
    #bigScreenLogo,
    #timelineCover {
        width: 100%;
        max-height: 450px;
        margin: inherit auto;
    }
    #timelineCover {
        border: 1px solid $bgHighlight;
    }
    .container {
        > div {
            margin: 0 auto 60px auto;
            @include md {
                margin: 0 auto 20px auto;
            }
        }
    }
    #introSection {
        #tagline {
            width: 50%;
            height: 75%;
        }
        .whiteContainer {
            text-align: center;
            #paddedBox {
                height: 0;
                @include xs {
                    height: 50vh;
                }
            }
            padding-top: 10px;
            background-color: white;
            a {
                margin: 10px;
            }
            #welcome {
                padding-top: 60px;
            }
            h1 {
                padding: inherit 5px;
            }
            #welcomeSection {
                img {
                    background-color: white;
                    border: 1px solid $bgHighlight;
                    margin: 0 15px;
                    padding: 5px;
                    width: 30%!important;
                    border-radius: 8px;
                    float: right;
                }
                pre {
                    display: inline-block;
                    padding: 0 50px;
                    margin: auto;
                    border: inherit;
                    background-color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                }
                h1 {
                    margin-bottom: 10px;
                    color: $colHighlight;
                    //                    font-size: 2em;
                }
                p {
                    max-width: 70vw;
                    @include sm {
                        max-width: 90vw;
                    }
                    margin: auto;
                    line-height: 30px;
                    margin-bottom: 15px;
                }
            }
            .smallScreenImg {
                display: none;
            }
            @include md {
                .bigScreenImg {
                    display: none;
                }
                .smallScreenImg {
                    display: block;
                    margin-bottom: 40px;
                }
            }
            .textBox {
                padding: 0 10px 10px 10px;
                a {
                    color: $colHighlight;
                }
            }
            .verticalAlign {
                display: flex;
                align-items: center;
            }
        }
        h2 {
            @include md {
                display: none;
            }
        }
        .imgWrapper {
            padding-top: 50px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px;
        }
    }
}