@mixin button ($border, $bg, $color, $hBg: null, $hColor: null) {
    border: 1px solid $border;
    background-color: $bg;
    color: $color;
    &:hover {
        background-color: $hBg;
        color: $hColor;
        box-shadow: 2px 2px 8px #1c1c1c;
    }
}