@import '_mixins';

.shareBox {
    text-align: center;
    padding: 7px 15px;
    @include sm {
        padding: 3px 7px;
    }
    img {
        width: 100%;
        @include sm {
            width: 75%;
            padding: 0 1px;
        }
        @include xs {
            width: 80%;
            padding: 1px;
        }
    }
}