@mixin standardContainer {
    float: none;
    border-radius: 25px;
//    border: 1px solid #423c3c;
    padding: 50px;
    margin: 90px auto;
            @include xs {
                border-radius: 0;
                padding: 10px;
                margin: 50px auto 0 auto;
            }
            width: 75%;
//            text-align: center;
            @include sm {
                width: 90vw;
            }
            @include xs {
                width: 100%;
            }
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 8px $darkGrey;
}